
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheets/style.css"
</head>

<%if (data.weather !== undefined) { %>
  <table class="table table-dark table-md">
    <thead>
      <tr>
        <th scope="col">City</th>
        <th scope="col">Temperature</th>
        <th scope="col">Description</th>
        <th scope="col">Humidity</th>
        <th scope="col">Wind Speed</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%=data.name%></td>
        <td><%=data.main.temp%></td>
        <td><%=data.weather[0].description%></td>
        <td><%=data.main.humidity%></td>
        <td><%=data.wind.speed%></td>
      </tr>
    </tbody>
  </table>
<%}else{ %>
<table class="table table-dark table-md"> 
  <thead>
    <tr>
      <th scope="col">Date and Time</th>
      <th scope="col">City</th>
      <th scope="col">Temperature</th>
      <th scope="col">Min Temp</th>
      <th scope="col">Max Temp</th>
    </tr>
  </thead>
  <tbody>
    <% data.list.forEach(function(day){ %>
    <tr>
      <td><%=day.dt_txt%></td>
      <td><%=data.city.name%></td>
      <td><%=day.main.temp%></td>
      <td><%=day.main.temp_min%></td>
      <td><%=day.main.temp_max%></td>
    </tr>
  </tbody>
  <%}) %>
</table> 
<%}%> 